@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}


body {
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
/* font-family: "Open Sans", sans-serif; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}
.section-center {
  margin: 0 auto;
  max-width: 1150px;
}
section{
  padding: 2rem 0;
}
/* navbar */
.nav{
  padding: 1rem 0.5rem;
  background-color: rgba(34, 34, 34, 1);
}
.nav-center{
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
}
.bar-icon{
  justify-self: end;
  font-size: 2.5rem;
  color:#FF9505;
}
.nav-icon{
  font-size: 1.5rem;
  color: white;
}
.icon-info{
  margin-left: 1rem;
}
.nav-links{
  display: none;
}
.info-links{
  display: none;
}
.bar-icon:hover{
  border: 2px solid #FF9505;
  padding: 0.3rem;
}
/* sidebar */
.sidebar{
  position: fixed;
  top:0;
  left: 0;
  background: #FFB627;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  display: grid;
  place-items: center;
  z-index: 2;
   transition: all 2s linear;
}
.show-sidebar{
  position: fixed;
top:0;
left: 0;
background: #FFB627;
height: 100%;
width: 100%;
display: grid;
place-items: center;
  transform: translateX(0);
  transition: all 2s linear;
}
.cancel-icon{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
}
.side-links{
  margin-bottom: 1.5rem;
}
.side-links a{
  color: white;
  font-size: 1.5rem;
}
.side-info-links a{
  color: white;
  font-size: 1.5rem;
}
/* contact */
.contact{
  background: linear-gradient(rgba(34, 34, 34, 1),rgba(43, 40, 40,0)) ,url('./images/section\ 1-bgimg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contact-photo{
  max-width: 25rem;
  animation: myAnim 2s ease 0s infinite normal forwards;
  /* animation: myAnim infinite linear normal forwards; */
}
@keyframes myAnim {
	0% {
		animation-timing-function: linear;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	50% {
		animation-timing-function: ease-in;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	100% {
		animation-timing-function: ease-in;
		transform: scale(1.1);
	}
}
.contact-center{
  display: grid;
  text-align:justify;
}
.contact-img{
  justify-self: center;
}
.contact-info h1{
  color:#FF9505;
}
.contact-info p{
  color: white;
}
.contact-btn{
  padding: 1rem 0.7rem;
  background-color: #FF9505;
  border: none;
  color: white;
  border-radius: 0.2rem;
}
.contact-btn:hover{
  background-color: #FFB627;
}
.contact-info{
  margin: 1.5rem 0;
}
/* about */
.about{
  background-color: rgba(34, 34, 34, 0.9);
  color: white;
}
.about-center{
  display: grid;
}
.about-img{
  justify-self: center;
}
.about-photo{
  max-width: 25rem;
}
.about-info{
  padding-top: 0.7rem;
}
/* quality */
.quality{
  background-color: #FF9505;
}
.quality-center{
  display: grid;
  color: white;
}
.quality-photo{
  max-width: 20rem;
}
.quality-img{
  justify-self: center;
   animation: myAnim 2s ease 0s infinite normal forwards;
}
.quality-info{
  padding-left: 0.6rem;
}
.quality-info h1{
  margin-top: 0.7rem;
}
.quality-info p{
  padding-top: 0.8rem;
}
/* food gallery */
.title{
  text-align: center;
  padding: 2rem 0;
  color: white;
}
.gallery{
  background-color: rgba(22, 22, 22,0.9);
}
.gallery-center{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 1rem;
  justify-items: center;
  padding-top: 2rem;
}
.gallery-photo{
  max-width: 20rem;
}
/* feedback */
.feedback{
  background: url('./images/section-5-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.feedback-center{
  min-height: 50vh;
  display: grid;
  place-items: center;
}
.feedback-info{
  max-width: 30rem;
  border: 3px solid #FF9505;
  padding: 2rem;
  text-align: center;
}
/* menu */
.menu{
  background-color: rgba(34, 34, 34, 0.9);
  color: white;
}
.menu-center{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 1.8rem;
  justify-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.card-img{
max-width: 30rem;
height: 15rem;
}
.menu-photo{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.menu-info{
  padding-top: 1rem;
  padding-right:0.3rem;
}
.price{
  color: #FF9505;
  font-weight: bolder;
}
.menu-info h3{
  padding: 1rem 0;
  color: #FF9505;
}
/* meal */
.meal{
  background-color: #FF9505;
  color: white;
}
.meal-center{
  display: grid;
}
.meal-img{
  justify-self: center;
}
.meal-info{
  padding-top: 2rem;
}
.meal-photo{
  max-width:15rem;
  animation: myAnim 2s ease 0s infinite normal forwards;
}
.footer{
  background-color: rgba(34, 34, 34, 0.9);
}
.footer-center{
  display: grid;
  justify-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-icon{
  color: white;
  font-size: 2rem;
}
.footer-links{
  display: flex;
  gap: 1.2rem;
  padding-top: 2rem;
}
.footer-links a{
  color: white;
  padding: 0 0.5rem;
}
.footer-links a:hover{
  color: #FF9505;
}
.social-links{
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem;
}
.social-icon{
  color: #FF9505;
  font-size: 1.8rem;
}
.social-icon:hover{
  color: white;
}
.footer-icon{
  background: none;
}
.footer-info{
  margin-left: 1rem;
}